#root {
  background-color: #fafafa;
  width: 87.5%;
  margin: 9.313rem auto;
  border-radius: 4px;
}

.books-page {
  background-color: #fafafa;
  box-shadow: 4.938rem 2rem 50px 4px rgb(0 0 0 / 20%);
  padding: 0 6.25rem;
  padding-top: 2.313rem;
  padding-bottom: 4.5rem;
  border-radius: 4px;
}

.books-ul {
  padding-bottom: 1.562rem;
  border-bottom: 1px solid #e8e8e8;
}

.button {
  width: 11.5rem;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding: 0.5rem 0;
  color: #fff;
  background-color: #0290ff;
  border: none;
  border-radius: 3px;
  cursor: pointer;  
}

.form-container {
  padding: 1rem 0;
  font-family: 'Montserrat', sans-serif;
}

.form-container h2 {
  margin: 0;
  color: #888;
  padding: 0.813rem 0 1.188rem 0;
}

form {
  display: flex;
  justify-content: space-between;
  gap: 2.125rem;
}

form input,
form select {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
  padding: 0.813rem 1rem;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

form input {  
  width: 55%;
}

form input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #c4c4c4;
}

.select-categories {
  width: 23.7%;
}

.select-categories:invalid {
  color: #c4c4c4;
}

form .button {
  font-weight: bold;
}
